{% extends 'accounts/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<section class="wf100 p80">
    <div class="container">>
        <!-- LOGIN -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <p class="card-header h3 text-center">Password Reset Complete</p>
                    <div class="card-body">
                        <p>Your new password has been set. You can log in now <a href="{% url 'login' %}">login</a> and proceed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

